body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}


button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}